@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");

:root {
    --theme-foreground: rgb(33, 64, 33);
    --theme-background: #eadaec;
    --theme-background-alt: #e3f4ea;

}
